.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: gainsboro;
}

.about-us {
    text-align: center;
}

.about-img,
.about2-img,
.about3-img {
    height: 87vh;
    max-width: 100%;
    max-height: 350px;
}

.main {
    height: 87vh;
    padding: 60px;
    text-align: left;
}

.bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}