.parent-home{
    min-height: 100vh;
    background-color: gainsboro;
}

.home-header{
    height: 500px;
    width: 100%;
    background-color: cadetblue;
}

.title-header{
    padding-left: 10%;
    padding-top: 10%;
    font-size: 65px;
    font-weight: 600;
}

.title-desc{
    padding-left: 10%;
    padding-top: 10px;
    font-size: 18px;
}

.row-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-vacuum{
    font-size: 380px;
    color: paleturquoise;
}

.row-title{
    margin-left: 20px;
    padding: 50px;
}

.title-btn{
    padding-left: 10%;
    margin-top: 25px;
}

.btn-service{
    background-color: whitesmoke !important;
    color: cadetblue !important;
    height: 40px !important;
    font-weight: 600 !important;
    font-size: 18px;
    border-color: whitesmoke !important;
    border-radius: 25px;
}

.parent-our-services{
    background-color: rgb(255, 255, 255);
    padding-bottom: 25px;
}

.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    font-size: 35px;
    font-weight: 600;
}

.row-services{
    margin: 50px;
}

.gi-broom{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 35px;
    font-size: 110px;
    color: chocolate;
}

.services1-desc{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
    font-size: 13px;
    color: darkgray;
}

.services1-title{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-weight: 700;
}

.tb-window{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 35px;
    font-size: 110px;
    color: darkgrey;
}

.fahandswash{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 35px;
    font-size: 110px;
    color: rgb(74, 123, 183);
}

.im-power{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 35px;
    font-size: 110px;
    color: rgb(225, 211, 58);
}

.parent-about-us{
    padding-bottom: 25px;
    padding-top: 25px;
}

.what-we-do{
    display: grid;
    place-items: center;
    padding-top: 50px;
    font-size: 35px;
    font-weight: 600;
}

.what-we-do-text{
    padding: 25px;
    font-size: 15px;
    text-align: center;
    color:rgb(114, 114, 114);
    padding-bottom: 80px;
}